body{
	background: lightblue;
	front-family:"century Gothic";
	line- line-height: 1.5;
	margin: 12px;
	text-align: 13;
 }
 .image{
 	text-align: center;
 	margin-top: : 16px;
 
 }
 .nav{
 	text-align: center;
 	background:blue;
 	padding: 20px;
 	margin-top: 10px;

 }
 .nav a {
 	text-decoration: none;
 	padding-left: 5px;
 	padding-right: 5px;
 	.imge1
 }
}